.container {
  padding: 20px 30px 20px;
  border-bottom: 1px solid #d5d5d5;
  overflow: hidden;

  &__column {
    float: left;
    width: 48%;

    &_fluid {
      width: 100%;
      display: block;
      float: none;
    }

    &:first-child {
      margin-right: 22px;
    }
  }
}