.container {
  padding: 20px 30px 20px;
  overflow: hidden;

  &:not(:last-child) {
    border-bottom: 1px solid #d5d5d5;
  }

  &__column {
    float: left;
    width: 48%;

    &_fluid {
      width: 100%;
      display: block;
      float: none;
    }

    &:first-child {
      margin-right: 22px;
    }

    &_sm {
      width: 31%;
      display: inline-block;
      vertical-align: top;
      float: none;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}