.product-note {

  &__items {
    margin-top: 5px;
  }

  &__icon {
    display: inline-block;
    vertical-align: top;
    width: 3%;
  }

  &__description {
    display: inline-block;
    width: 95%;
    font-size: 12px;
    line-height: 16px;
    
    .column-link {
      float: none;
      right: 0;

      &.icon-play {
        left: -101px;
        top: 26px;
      }
    }
  }
}