.btn-group {

  &__item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 44px;
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    border: 2px solid transparent;
    cursor: pointer;
    text-align: center;
    position: relative;

    &:not(:last-child) {
      margin-right: 10px;
      margin-bottom: 12px;
    }

    &.disabled{
      pointer-events: none;
      opacity: 0.5;

      .popper {
        display: none;
      }

      &:hover {
        background-color: #ffffff;
      }
    }

    &-text {
      height: 26px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: #000;
      font-size: 12px;
      font-weight: 500;
      padding: 0 9px 0 12px;

      &_sm {
        min-width: 88px;
      }
    }

    &_preview {
      vertical-align: middle;
      display: inline-block;
      height: 26px;
      border-left: 1px solid #d5d5d5;
      padding-left: 5px;
      padding-right: 6px;

      img {
        padding-top: 6px;
        padding-left: 1px;
      }
    }

    &_result {
      width: 146px;
      background-color: #ffffff;
      color: #000;
      font-size: 12px;
      font-weight: 500;
      transition: background 0.175s ease-in;
      padding: 12px 0;
      text-decoration: none;

      &:not(:last-child) {
        margin-right: 20px;
      }

      > span {
        padding-left: 8px;
      }

      &-dark {
        background-color: #606060;
        color: #ffffff;

        &:hover {
          background-color: #3d403d;
        }
      }
    }

    .info-popover {

      &__item {
        position: absolute;
        left: 5px;
        top: -17px;
      }
    }
  }

}