.btn-group {


  &__item {
    display: inline-block;
    vertical-align: top;
    position: relative;


    &:not(:last-child) {
      margin-right: 10px;
      margin-bottom: 12px;
    }

    > button {
      line-height: 17px;
      height: 30px;
      background-color: #ffffff;
      color: #000;
      border-radius: 3px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
      border: 2px solid transparent;
      font-size: 12px;
      font-weight: 500;
      transition: background 0.175s ease-in;
      padding: 0 8px 0 16px;


      &:hover {
        background-color: #f1f1f1;
        cursor: pointer;
      }


      &.active {
        border: 2px solid $active-color;
        box-shadow: none;

        .btn-group__item_preview {
          vertical-align: sub;
        }

        &:hover {
          opacity: 1;
        }
      }

      &:disabled,
      &[disabled]{
        opacity: 0.5;

        .popper {
          display: none;
        }

        &:hover {
          background-color: #ffffff;
        }
      }

    }

    &_preview {
      vertical-align: sub;
      display: inline-block;
      height: 19px;
      border-left: 1px solid #d5d5d5;
      position: relative;
      right: -7px;
      padding: 4px 5px 0 7px;
    }

    &_xs {

      > button {
        min-width: 48px;
        text-transform: uppercase;
        padding: 0 5px;
      }

    }

    &_sm {

      > button {
        min-width: 105px;
        padding: 0 16px;
      }
    }


    &_result {
      display: inline;
      background-color: #ffffff;
      color: #000;
      line-height: 1.2;
      border-radius: 3px;
      box-shadow: $button-shadow;
      font-size: 12px;
      font-weight: 500;
      transition: $btn-transition;
      margin-bottom: 14px;
      padding: 13px 18px 14px;
      text-decoration: none;

      &:not(:last-child) {
        margin-right: 20px;
      }

      &-dark {
        background-color: #606060;
        color: #ffffff;

        &:hover {
          background-color: #3d403d;
        }
      }
    }

    .info-popover {
      right: -2px;
    }

  }


}