.btn-group {


  &__item {
    display: inline-block;
    vertical-align: top;
    position: relative;

    &:not(:last-child) {
      margin-right: 10px;
      margin-bottom: 14px;
    }

    > button {
      vertical-align: top;
      height: 30px;
      background-color: #ffffff;
      color: #000;
      line-height: 1.2;
      border-radius: 3px;
      border: none;
      box-shadow: $button-shadow;
      font-size: 12px;
      font-weight: 500;
      transition: $btn-transition;
      padding: 0 8px 0 16px;


      &:hover {
        background-color: #f1f1f1;
        cursor: pointer;
      }


      &.active {
        border: 2px solid $active-color;
        box-shadow: none;

        .btn-group__item_preview {
          vertical-align: sub;
          height: 20px;
          padding-top: 7px;
          padding-left: 8px;
          right: -8px;
        }

        &:hover {
          opacity: 1;
        }
      }

      &.disabled {
        opacity: 0.5;

        &:hover {
          background-color: #ffffff;
        }
      }

    }

    &_preview {
      display: inline-block;
      vertical-align: middle;
      height: 22px;
      border-left: 1px solid #d5d5d5;
      position: relative;
      right: -7px;
      padding: 9px 9px 0 9px;

    }

    &_xs {

      > button {
        min-width: 48px;
        text-transform: uppercase;
        padding: 0 5px;
      }

    }

    &_sm {

      > button {
        min-width: 105px;
        padding: 0 16px;
      }
    }


    &_result {
      display: inline;
      background-color: #ffffff;
      color: #000;
      line-height: 1.2;
      border-radius: 3px;
      box-shadow: $button-shadow;
      font-size: 12px;
      font-weight: 500;
      transition: $btn-transition;
      margin-bottom: 14px;
      padding: 13px 18px 14px;
      text-decoration: none;

      &:not(:last-child) {
        margin-right: 20px;
      }

      &-dark {
        background-color: #606060;
        color: #ffffff;

        &:hover {
          background-color: #3d403d;
        }
      }
    }

    .info-popover {
      position: absolute;
      top: -11px;
      right: -19px;
    }

  }


}