.btn-group {

  &__items {
    margin-bottom: 14px;
  }

  &__item {
    vertical-align: middle;
    height: 31px;
    background-color: #ffffff;
    color: #000;
    line-height: 1.2;
    border-radius: 3px;
    border: none;
    box-shadow: $button-shadow;
    font-size: 12px;
    font-weight: 500;
    transition: $opacity-transition;
    padding: 0 16px;

    &:hover {
      opacity: $base-opacity;
      cursor: pointer;
    }

    &.active {

      .item-preview {
        vertical-align: sub;
        height: 27px;
        padding-top: 7px;
      }

      &:hover{
        opacity: 1;
      }
    }


    &_sm {
      width: 48px;
      text-transform: uppercase;
    }

    &_md {
      width: 105px;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }

  }

  .item-preview {
    display: inline-block;
    vertical-align: middle;
    height: 31px;
    border-left: 1px solid #d5d5d5;
    position: relative;
    right: -7px;
    padding-top: 9px;
    padding-left: 9px;
  }

}