.btn-group {

  &__items {
    margin-bottom: 10px;
  }

  &__item {
    vertical-align: middle;
    height: 31px;
    background-color: #ffffff;
    color: #000;
    line-height: 1.2;
    width: 105px;
    border-radius: 3px;
    border: none;
    box-shadow: $button-shadow;
    font-size: 12px;
    font-weight: 500;
    transition: $opacity-transition;

    &:hover {
      opacity: $base-opacity;
      cursor: pointer;
    }

    &.active:hover{
      opacity: 1;
    }

    &_sm {
      width: 48px;
      text-transform: uppercase;
    }

    &_md {
      width: 105px;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

}