.btn-group {

  &__item {
    vertical-align: top;
    height: 31px;
    background-color: #ffffff;
    color: #000;
    line-height: 1.2;
    border-radius: 3px;
    border: none;
    box-shadow: $button-shadow;
    font-size: 12px;
    font-weight: 500;
    transition: $opacity-transition;
    padding: 0 16px;

    &:not(:last-child) {
      margin-right: 10px;
      margin-bottom: 14px;
    }

    &:hover {
      opacity: $base-opacity;
      cursor: pointer;
    }

    .item-preview {
      display: inline-block;
      vertical-align: middle;
      height: 31px;
      border-left: 1px solid #d5d5d5;
      position: relative;
      right: -7px;
      padding-top: 9px;
      padding-left: 9px;
    }

    &_xs {
      width: 48px;
      text-transform: uppercase;
      padding: 0;
    }

    &_sm {
      width: 105px;
    }

    &_md {
      width: 146px;
      padding: 0;

      .item-preview {
        right: -27px;
      }
    }

    &_lg {
      width: 219px;

      .item-preview {
        right: -12px;
      }
    }

    &.active {

      .item-preview {
        vertical-align: sub;
        height: 27px;
        padding-top: 7px;
        padding-left: 8px;
        right: -8px;
      }

      &:hover {
        opacity: 1;
      }
    }

    &.disabled {
      opacity: 0.5;
    }


  }

}