.column-link {
  display: inline-block;
  position: relative;
  right: -14%;
  font-weight: 400;

  > a {
    color: $active-color;
    float: left;
    margin-right: 6px;
  }

  &__icon {
    display: inline-block;
    vertical-align: sub;
    width: 23px;
    height: 12px;
    cursor: pointer;


    &.icon-play {
      margin-left: -2px;
    }
  }
}