.footer {
  height: 40px;
  padding-top: 6px;

  &__column {
    width: 55%;
    display: inline-block;
    vertical-align: middle;

    &_md {
      width: 45%;
      float: right;
    }
  }

  &__total-result {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
    font-weight: 900;
  }

  &__note {
    width: 37%;
    display: inline-block;
    vertical-align: middle;
    line-height: 15px;
    font-size: 12px;
  }

  &__btn-group {
    float: right;
    padding-top: 6px;
  }
}