.info-popover {
  position: relative;
  top: -4px;
  left: 2px;

  .popper {
    min-width: 135px;
    height: auto;
    padding: 10px 13px;
    font-size: 12px;
    line-height: 15px;
    text-align: left;
    left: -1px !important;
    top: -4px !important;

  }

  &__item {
    display: inline-block;
    width: 15px;
    height: 15px;
  }
}