.input-group {

  &__item {
    width: 80px;
    height: 30px;
    font-size: 12px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #3f3f3f;
    background-color: #ffffff;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #898989;
      font-size: 12px;
      font-style: italic;
      text-align: center;
    }
  }

  &__container {
    display: inline-block;
    margin-bottom: 15px;

    &_md {
      width: 48%;
    }

    &_xs {
      width: 24%;
    }
  }
}