.input-group {

  &__item {
    width: 78px;
    height: 31px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #3f3f3f;
    background-color: #ffffff;

    &::placeholder {
      text-align: center;
    }
  }

  &__container {
    display: inline-block;
    margin-bottom: 13px;

    &_md {
      width: 50%;
    }

    &_xs {
      width: 25%;
    }
  }
}