.option-block {

  &__title {
    color: #343434;
    font-size: 16px;
    font-weight: 500;
    padding-top: 2px;

    &_ms {
      font-size: 14px;
      padding-top: 20px;
      color: #000000;
    }

    &_xs {
      font-size: 12px;
      padding-bottom: 10px;
      font-weight: bold;
    }
  }

  &__body {
    padding: 8px 0 14px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}