.option-block {

  &__title {
    color: #343434;
    font-size: 16px;
    font-weight: 500;
    padding-top: 2px;

    &_md {
      font-size: 14px;
      color: #000000;
      padding-top: 12px;
      padding-bottom: 10px;
    }

    &_xs {
      font-size: 12px;
      padding-bottom: 10px;
      font-weight: bold;
    }
  }

  &__content {
    padding: 8px 0 14px;


    .product-note {
      &:not(:last-child) {
        .product-note__description {
          margin-bottom: 13px;
        }
      }

      &__description {
        width: 100%;
      }


    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}