.patterns-popover {
  text-align: left;

  .popper {
    padding: 50px 28px 20px;
    text-align: left;
    width: 416px;
    top: 2px !important;
    left: -2px !important;
  }

  .product-style {

    &_patterns {
      height: auto;
    }
  }
}