.product-slider{
  width: 370px;
  height: 550px;
  border-radius: 5px;

  &__item {

    /* slick arrow customize */
    .slick-prev, .slick-next {
      z-index: 7;

      &:before {
        content: '';
        display: inline-block;
        width: 8px;
        height: 14px;
        background-repeat: no-repeat;
      }
    }

    .slick-prev {
      left: 20px;

      &:before {
        background: url("assets/images/icons/arrow-left-slider.png");
      }
    }

    .slick-next {
      right: 20px;

      &:before {
        background-image: url("assets/images/icons/arrow-right-slider.png");
      }
    }

    /* slick dots customize */
    .slick-dots {
      bottom: -34px;

      li {
        button::before {
          content: '';
          width: 10px;
          height: 10px;
          border: 2px solid #000000;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          opacity: 1;
        }

        &.slick-active {
          button::before {
            background-color: black;
          }
        }
      }
    }

    &_upper {

      .slick-prev, .slick-next {
        top: 120px;
      }
    }

    &_lower {
      position: relative;
      top: -280px;

      .slick-prev, .slick-next {
        top: 33%;
      }
    }

    &_full-height {
      height: 100%;

      .slick-slide {
        img {
          width: 251px;
        }
      }

      .slick-prev, .slick-next {
        top: 180px;
      }

      .slick-prev {
        left: -25px;
      }

      .slick-next {
        right: -25px;
      }

    }

  }



}