.product-note {

  &__items {
    margin-top: 5px;
  }

  &__icon {
    display: inline-block;
    vertical-align: top;
    width: 3%;
  }

  &__description {
    display: inline-block;
    width: 95%;
    font-size: 12px;
    line-height: 16px;

    .column-link_bottom {
      display: block;
      position: initial;
      margin-top: 15px;
    }
  }
}