.column-link {
  color: $active-color;
  position: relative;
  right: 28%;
  float: right;
  font-weight: 400;

  &__icon {
    display: inline-block;
    width: 23px;
    height: 13px;
    position: absolute;
    right: -24px;
    top: 1px;

    &.icon-eye {
      width: 17px;
      height: 13px;
    }

    &.icon-play {
      height: 11px;
      right: -20px;
      top: 3px;
    }
  }
}