.result-list {
  font-size: 14px;
  line-height: 20px;

  &__item {

    td {
      padding-right: 5px;
    }

    &_color {
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 2px;
      margin: -2px 5px;
    }
  }
}