.selection-result {

  &_wrapper {
    margin: 12px 0;
  }

  &__title {
    padding: 15px 0;
  }

  &__column {
    display: inline-block;
    vertical-align: top;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}