.container {
  padding: 20px 30px 20px;
  overflow: hidden;

  &:not(:last-child) {
    border-bottom: 1px solid #d5d5d5;
  }

  &__column {
    width: 48%;
    display: inline-block;
    vertical-align: top;

    &:not(:last-child) {
      margin-right: 22px;
    }

    &_fluid {
      width: 100%;
      display: block;
      float: none;
    }

    &_sm {
      width: 235px;
    }

    &_md {
      width: 265px;
    }

  }
}
