@import "~normalize.css";
@import '~vue-slick-carousel/dist/vue-slick-carousel.css';
@import '~vue-slick-carousel/dist/vue-slick-carousel-theme.css';
@import 'common/fonts';
@import 'common/variables';
@import "common/mixins";
@import "common/slickfix";
@import "components/option-block";
@import "components/—Åontainer";
@import "components/header";
@import "components/footer";
@import "components/product-slider";
@import "components/product-style";
@import "components/color-picker";
@import "components/column-link";
@import "components/btn-group";
@import "components/input-group";
@import "components/product-note";
@import "components/selection-result";
@import "components/result-list";
@import 'common/global';





